
extends layout


block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block append ogp
  meta(property='og:title', content=page.title)
  meta(property='og:type', content='article')
  meta(property='og:description', content=page.metadata.description)
  meta(property='og:image', content=locals.url + page.metadata.icon)
  meta(property='og:url', content=locals.url + page.url)

if page.metadata.type == "app"
  block append twitterCard
    meta(name='twitter:card', content="app")
    meta(name='twitter:creator', content="@miyahira_go")
    if page.metadata.appstoreId
      meta(name='twitter:app:name:iphone', content=page.title)
      meta(name='twitter:app:id:iphone', content=page.metadata.appstoreId)
      meta(name='twitter:app:url:iphone', content=page.metadata.appstoreUrl)
      meta(name='twitter:app:name:ipad', content=page.title)
      meta(name='twitter:app:id:ipad', content=page.metadata.appstoreId)
      meta(name='twitter:app:url:ipad', content=page.metadata.appstoreUrl)
    if page.metadata.googleplayId
      meta(name='twitter:app:name:googleplay', content=page.title)
      meta(name='twitter:app:id:googleplay', content=page.metadata.googleplayId)
      meta(name='twitter:app:url:googleplay', content=page.metadata.googleplayUrl)

block header
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article.article.main
    .images
      div
        img.icon(src=page.metadata.icon)

      if page.metadata.appstoreUrl
        a(href=page.metadata.appstoreUrl)
          img.badge(src='/images/appstore.png')
      if page.metadata.googleplayUrl
        a(href=page.metadata.googleplayUrl)
          img.badge(src='/images/googleplay.png')
    .text
      section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog


