
extends layout


block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block append ogp
  meta(property='og:title', content=page.title)
  meta(property='og:type', content='article')
  meta(property='og:description', content=page.metadata.description)
  meta(property='og:image', content=locals.url + page.metadata.icon)
  meta(property='og:url', content=locals.url + page.url)

block header
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article.article.main
    .images
      if page.metadata.appstore
        a(href=page.metadata.appstore)
          img.badge(src='/images/appstore.png')
      if page.metadata.googleplay
        a(href=page.metadata.googleplay)
          img.badge(src='/images/googleplay.png')
      div
        img.icon(src=page.metadata.icon)
    .text
      section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog


