
extends layout


block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block append ogp
  meta(property='og:title', content=page.title)
  meta(property='og:description', content=page.metadata.description)
  meta(property='og:image', content=locals.url + page.metadata.icon)
  meta(property='og:image:width', 320)
  meta(property='og:image:height', 320)
  meta(property='og:image:type', png)
  meta(property='og:url', content=locals.url + page.url)

if page.metadata.type == "app"
  block append twitterCard
    meta(property='twitter:card', content="app")
    meta(property='twitter:creator', content="@miyahira_go")
    if page.metadata.appstoreId
      meta(property='twitter:app:name:iphone', content=page.title)
      meta(property='twitter:app:id:iphone', content=page.metadata.appstoreId)
      meta(property='twitter:app:url:iphone', content=page.metadata.appstoreUrl)
      meta(property='twitter:app:name:ipad', content=page.title)
      meta(property='twitter:app:id:ipad', content=page.metadata.appstoreId)
      meta(property='twitter:app:url:ipad', content=page.metadata.appstoreUrl)
      meta(name='apple-itunes-app', content='app-id=' + page.metadata.appstoreId + ", affiliate-data=10la3H")
    if page.metadata.googleplayId
      meta(property='twitter:app:name:googleplay', content=page.title)
      meta(property='twitter:app:id:googleplay', content=page.metadata.googleplayId)
      meta(property='twitter:app:url:googleplay', content=page.metadata.googleplayUrl)

block header
  p.description 
    a(href=locals.url)= locals.name
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article.article.main
    .images
      div
        img.icon(src=page.metadata.icon)

      if page.metadata.appstoreUrl
        a(href=page.metadata.appstoreUrl)
          img.badge(src='/images/appstore.png')
      if page.metadata.googleplayUrl
        a(href=page.metadata.googleplayUrl)
          img.badge(src='/images/googleplay.png')

    .social-buttons
      link(rel="stylesheet" href="/social-likes/social-likes_classic.css")
      script(src="/jquery/dist/jquery.min.js")
      script(src="/social-likes/social-likes.min.js")
      .social-likes
        .facebook(title="Share link on Facebook")
          - Facebook
        .twitter(data-via="miyahira_go" title="Share link on Twitter")
          - Twitter
        .plusone(title="Share link on Google+")
          - Google+
    .text
      section.content!= typogr(page.html).typogrify()
    .zenback
      //  X:S ZenBackWidget
      div#zenback-widget-loader
        script(type="text/javascript")
          !function(d,i){if(!d.getElementById(i)){var r=Math.ceil((new Date()*1)*Math.random());var j=d.createElement("script");j.id=i;j.async=true;j.src="//w.zenback.jp/v1/?base_uri=http%3A//miyahira.me&nsid=102788173087678535%3A%3A130996046993033797&rand="+r;d.body.appendChild(j);}}(document,"zenback-widget-js");
      // X:E ZenBackWidget

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog


