extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        p
          if(article.metadata.icon)
            img.icon(src=article.metadata.icon)
          else
            img.icon(style='display:invisible')
        h2
          a(href=article.url)= article.title
        if article.metadata.googleplay
          a(href=article.metadata.googleplay)
            img.badge(src='/images/googleplay.png')
        if article.metadata.appstore
          a(href=article.metadata.appstore)
            img.badge(src='/images/appstore.png')
        if article.metadata.url
          a(href=article.metadata.url)
            = article.metadata.url
      section.content
        | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »



